.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
}

.backgroundStyle {
    height: 100vh;
    background: -webkit-linear-gradient(#ebeec2, #ffdbd2);
    background: -o-linear-gradient(#ebeec2, #ffdbd2);
    background: -moz-linear-gradient(#ebeec2, #ffdbd2);
    background: linear-gradient(#ebeec2, #ffdbd2);
}

.divMessageIntro {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
    max-width: 450px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 8px #888888;
    background: -webkit-linear-gradient(#e2dbda, #f4e1e0);
    background: -o-linear-gradient(#e2dbda, #f4e1e0);
    background: -moz-linear-gradient(#e2dbda, #f4e1e0);
    background: linear-gradient(#e2dbda, #f4e1e0);
}

.First-media-color {
    background-color: #e7dbce;
}

.Second-media-color {
    background-color: #d0c4ba;
}

.Third-media-color {
    background-color: #5d554e;
    color: white;
}

.Youtube-preview, .Youtube-dim{
    border:4px solid #5d554e;
    border-radius: 20px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    float:none;
    cursor: pointer;
}

.Youtube-dim {
    border: 8px solid #000000;
    width: 426px;
    height: 240px;
    max-width: 100%;
    display: block;
    margin-top: 20px;
    margin-bottom:20px;
}


.Chat-col-background {
    background-color: #f5efe9;
}

.Vertical-fit {
    top: 50px;
    bottom: 28px;
    height: calc(100vh - 50px - 28px);
}

.Chatbot {
    top: 50px;
    bottom: 110px;
    height: calc(100vh - 50px - 110px);
}

.Scrollbar {
    overflow-y: scroll;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media only screen and (min-width : 481px) {
    .flex-row.row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row.row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .flex-row.row:after,
    .flex-row.row:before {
        display: flex;
    }
}